<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="Header">
        <h1> FAQ </h1>
    </div>

    <div class="MainContent">
        <p>

            Q: Hvordan logger man inn?
            <br>
            A: Klikk på innloggings knappen eller gå til /login
            <br>
            Q: Hvordan blir min personlige data behandlet?
            <br>
            A: Vi behandler personopplysningene dine i henhold til GDPR.
            Det betyr at vi kun samler inn data vi trenger, ikke deler
            dem med tredjeparter uten ditt samtykke, og at du når som
            helst kan be om innsyn, retting eller sletting av dine data.
            <br>
            Q: Hvordan sletter man brukeren sin?
            <br>
            A: Klikk på innloggings knappen eller gå til /slettbruker, skriv ned passordet ditt og bekreft.
            <br>
            Q: Kan andre se hvilke bilder jeg stemmer på?
            <br>
            A: Dine stemmer er helt anonyme.
            <br>
            Q: Trenger jeg en bruker for å stemme
            <br>
            A: For å stemme så må du være innlogget, 
            <br>

        </p>
    </div>
</body>

</html>